<div class="content" ng-controller="homeCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-offset-4">
				<input placeholder="Search.." class="form-control" type="text" ng-model="searchText">
			</div>		
		</div>
		<div class="row">			
			<div class="col-md-3">
			<br>
				<fieldset>
					<legend>Cadastro de Pessoa</legend>
					<form method="post">
						<div class="form-group">
							<label for="nome">Nome:</label>
							<input placeholder="ex: William Silva" id="nome" class="form-control" type="text" ng-model="nome">						
						</div>
						<div class="form-group">
							<label for="idade">Idade:</label>
							<input placeholder="ex: 21" id="idade" class="form-control" type="number" ng-model="idade">
						</div>
						<div class="form-group">
							<label for="cpf">CPF:</label>
							<input placeholder="ex: 12345678910" id="cpf" class="form-control" type="number" ng-model="cpf">	
						</div>
						<button type="submit" class="btn btn-lg btn-success" ng-click="addNome()">enviar</button>
					</form>	
				</fieldset>	
			</div>
			<br>			
			<div class="col-md-5 col-md-offset-1">
				<table class="table table-striped table-hover">
					<thead>
						<th>ID</th>
						<th>Nome</th>
						<th>Idade</th>
						<th>CPF</th>
					</thead>
					<tbody>
						<tr ng-repeat="pessoa in pessoas | orderBy: 'pessoa.nome' | filter: searchText">
							<td>
								{{pessoa.id}}
							</td>
							<td>
								{{pessoa.nome}}
							</td>
							<td>
								{{pessoa.idade}}
							</td>
							<td>
								{{pessoa.cpf}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>